<h4 class="text-white mb-3">Contact</h4>
        
<p class="mb-2 d-flex align-items-start">
    <i class="fa fa-map-marker-alt me-3 mt-1"></i>
    <span class="text-wrap">{{ contactInfo?.address }}</span>
</p>

                <!-- Phone Numbers (Splitting by comma) -->
<div *ngIf="contactInfo?.mobile">
    <p *ngFor="let phone of contactInfo?.mobile?.split(',')" class="mb-2">
        <i class="fa fa-phone-alt me-3"></i> {{ phone.trim() }}
    </p>
</div>

<!-- Emails (Splitting by comma) -->
<div *ngIf="contactInfo?.email">
    <p *ngFor="let email of contactInfo?.email?.split(',')" class="mb-2">
        <i class="fa fa-envelope me-3"></i> {{ email.trim() }}
    </p>
</div>
            
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="{{contactInfo?.fbLink}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{contactInfo?.instaLink}}"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{contactInfo?.youTubeLink}}"><i class="fab fa-youtube"></i></a>
                    
                </div>
