<mat-toolbar class="navbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="navbar-title">My App</span>
    <div class="spacer"></div>
    <div class="navbar-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About</a>
      <!-- Add more navigation links as needed -->
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About</a>
      <!-- Add more navigation links for the side menu as needed -->
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Add your page content here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  