<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
      <div class="booking p-5">
          <div class="row g-5 align-items-center">
              <div class="col-md-6 text-white">
                  <h6 class="text-white text-uppercase">Booking</h6>
                  <h1 class="text-white mb-4">Online Booking</h1>
                  <p class="mb-4">Plan your journey in just a few clicks! Fill out the form with your travel details, and our team will handle the rest. Enjoy a seamless and hassle-free booking experience tailored to your needs.</p>
                 
                  
              </div>
              <div class="col-md-6">
                  <h1 class="text-white mb-4">Book A Tour</h1>
                  <form id="bookingForm">
                      <div class="row g-3">
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control bg-transparent" id="name"
                                      placeholder="Your Name">
                                  <label for="name">Your Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control bg-transparent" id="email"
                                      placeholder="Your Email">
                                  <label for="email">Your Email</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating date" id="date3" data-target-input="nearest">
                                  <input type="text" class="form-control bg-transparent datetimepicker-input"
                                      id="datetime" placeholder="Date & Time" data-target="#date3"
                                      data-toggle="datetimepicker" />
                                  <label for="datetime">Date & Time</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select bg-transparent" id="select1">
                                    <option *ngFor="let destination of destinations" [value]="destination.id">
                                        {{ destination.name }}
                                    </option>
                                </select>
                                <label for="select1">Destination</label>
                            </div>
                            
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control bg-transparent" placeholder="Special Request"
                                      id="message" style="height: 100px"></textarea>
                                  <label for="message">Special Request</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>