<!-- <div class="container-fluid bg-primary py-5 mb-5">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Experience Kashmir with Himalayan Tripo</h1>
                <p class="fs-4 text-white mb-4 animated slideInDown">Tempor erat elitr rebum at clita diam amet diam et
                    eos erat ipsum lorem sit</p>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                        placeholder="Eg: Thailand">
                    <button type="button"
                        class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2"
                        style="margin-top: 7px;">Search</button>
                </div>

                
            </div>
        </div>
    </div>
</div> -->

<c-carousel *ngIf="slides.length > 0" [interval]="3000" transition="slide">
    <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides" style="height: 600px !important;">
            <img [src]="slide.src" alt="Slide Image" class="d-block w-100" loading="lazy"
                style="width: 100%; height: 100%;" />
        </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control caption="Next" direction="next"></c-carousel-control>
</c-carousel>


<!-- Booking Start -->
<app-booking [destinations]="destinations"></app-booking>
<!-- Booking Start -->

<!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Awesome Packages</h1>
        </div>
        <div class="row g-4 justify-content-center">
          <app-package-info *ngFor="let package of packageInfo" [packageInfo]="package"class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" ></app-package-info>
        </div>
    </div>
</div>
<!-- Package End -->

<!-- Destination Start -->
<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Destination</h6>
            <h1 class="mb-5">Popular Destinations</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <app-destinations *ngFor="let des of destinations" [destination]="des" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></app-destinations>
        </div>   
    </div>
</div>
<!-- Destination Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Day Hikes</h6>
            <h1 class="mb-5">Day Hikes</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <app-dayhikes-info *ngFor="let hike of dayHikes" [dayHike]="hike"  class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></app-dayhikes-info>
        </div>
    </div>
</div>

<!-- Adventure Activities Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Adventure Activities</h6>
            <h1 class="mb-5">Adventure Activities</h1>
        </div>
        <div class="row g-4 justify-content-center" >
            <div  *ngFor="let activity of activities" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid imageHeight" src="{{activity?.image}}" alt="{{activity?.image}}">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2">{{activity?.name}} </small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>{{activity?.destination}}</small>
                            
                    </div>
                    <div class="p-4">
                        <p>{{activity?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-car text-primary mb-4"></i>
                        <h5>Car Rentals</h5>
                        <p>Convenient car rentals offering comfortable, well-maintained vehicles with flexible options, including driver services, for exploring Kashmir's scenic beauty.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                        <h5>Hotel Reservation</h5>
                        <p>Secure hotel reservations offering a variety of accommodations, from luxury to budget, with top-notch amenities and scenic views.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5>Tour Guides</h5>
                        <p>Experienced travel guides offering personalized tours, local insights, and expert knowledge to enhance your Kashmir journey with memorable experiences.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-plane text-primary mb-4"></i>
                        <h5>Flight Booking</h5>
                        <p>Effortlessly book flights with competitive fares, flexible schedules, and reliable airlines, ensuring a smooth, convenient journey to Kashmir."</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-train text-primary mb-4"></i>
                        <h5>Railway Ticket Reservation</h5>
                        <p>Book train tickets effortlessly with flexible schedules, comfortable seating, and reliable services for a scenic and hassle-free Kashmir journey.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hiking text-primary mb-4"></i>
                        <h5>Trekking</h5>
                        <p>Embark on a thrilling trekking adventure through Kashmir's stunning landscapes, exploring pristine valleys, lush meadows, and majestic mountain peaks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Process Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
            <h1 class="mb-5">3 Easy Steps</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                        style="width: 100px; height: 100px;">
                        <i class="fa fa-globe fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Choose A Destination</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Explore our curated destinations and pick the one that matches your travel dreams.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                        style="width: 100px; height: 100px;">
                        <i class="fa fa-dollar-sign fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Pay Online</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Book your trip effortlessly with our secure and easy online payment options.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                        style="width: 100px; height: 100px;">
                        <i class="fa fa-plane fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Fly Today</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Pack your bags and get ready to embark on your dream journey with us!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process Start -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
            <h1 class="mb-5">Meet Our Team</h1>
        </div>
        <div class="row g-4">
            <app-teams *ngFor="let team of teamsInfo" [team]="team" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></app-teams>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>
        <app-testimonials></app-testimonials>
    </div>
</div>
<!-- Testimonial End -->