/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.destinationImage,teamImage{
 width: 100%;
 height: 224px;
}
.dvImage{
    margin-bottom: 20px;
    border: 5px solid green;
    width: 260px;
}
img.preview-image {
    width: 250px;
}
.imageHeight {
    height: 300px !important;
}
.alignCenter {
    text-align: center !important;
}